@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    background-color: #020021;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 2.5em 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    
}
.navigation{
    display: flex;
    list-style-type: none;
    margin-top: 0;
}
.navigation li {
    margin-right: 2em;
    font-size: 18px;
    font-weight: 400;
}
li.signUp{
    color: #00F482;
    border-right: 2px solid #5E5876;
    padding-right: 1.5em;
    margin-right: 1.5em;
}
.navigation li:last-child{
    margin: 0;
}

div.main{
    display: flex;
    justify-content: space-between;
    padding: 5em 2.5em 3em 0;
    width: 85%;
    margin-left: auto;
   
}
.mainText{
    width: 40%;
}
img.drumkit{
    width: 700px;
    filter: drop-shadow(20px 0px 100px #1F173C);
}
div.divRelative{
position: relative;

}
div.firstRow{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 20px;
    bottom: 350px;
    opacity: 0;
}
div.buttonsCenter{
    position: absolute;
    left: 190px;
    bottom: 260px;
    width: 320px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    opacity: 0;
    z-index: 2;
}

div.secondRow{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 70px;
    bottom: 240px;
    opacity: 0;
}
div.thirdRow{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 100px;
    bottom: 85px;
    opacity: 0;
}

.small{
    width: 108px;
    height: 108px;
    border-radius: 54px;
    border: none;
    cursor: pointer;
}
.big{
    width: 152px;
    height: 152px;
    border-radius: 76px;
    border: none;
    cursor: pointer;
}

h1{
    font-size: 64px;
    font-weight: 450;
    line-height: 60px;
    margin-top: 0.5em;
}
.text{
    color: #5E5876;
    font-size: 16px;
    font-weight: 400;
}
.hitButton{
    background-color: #00F482;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 1.35em 5em;
    margin-top: 2em;
}
div.buttonHit .burgerMenuOpen .burgerMenuClose{
    display: none;
}
section{
    text-align: center;
}
.headingThree{
    font-size: 32px;
}
button.price{
    font-size: 16px;
    font-weight: 600;
    padding: 1em 2em;
    border-radius: 2em;
    margin-top: 1em;
    border: none;
}

/* mobile */

@media screen and (max-width: 391px) {
    /* header {
        flex-direction: column-reverse;
        width: 100%;
    }
    
    }
    .navigation{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: #ee0303;
        width: 310px;
        height: 533px;
    }
    li.signUp {
        color: #00F482;
        border-right: none;
        border-bottom: 2px solid #5E5876;
        width: 100px;
        padding-right: 0px;
        margin-right: 0px;
        
    } */
    .opacity{
        position: fixed;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color:#1F173C;
        opacity: 0.8;
    }
    header {
        flex-direction: column;
        width: 80%;
        margin-right: 0;
        padding: 0;
        
    }

    nav.desktopMenu {
        display: none;
    }

    .navBurger {
        list-style-type: none;
        text-align: center;
        align-self: center;
    }

    .navBurger li {
        padding: 1.5em;
        border-bottom: 2px solid #5E5876;
        width: 4em;
    }
    .green {
        color: #00F482;
    }
    .navBurger li:last-child {
        border-bottom: none;

    }

    .burgerMenuOpen, .burgerMenuClose {
        width: 80px;
        height: 40px;
        border: none;
        background-color: #00F482;
        border-radius: 20px;
        
    }
    .burgerMenuClose  {
       border-radius: 40px;
       color: white;
       width: 40px;
       display: flex;
       align-items: center;
       justify-content: center;
       align-self: flex-end;
    
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        cursor: pointer;
      }

        
    
    .burgerMenuOpen{
        display: none;
    }

    .mobileMenu{
        display: flex;
        flex-direction: column;
        background-color: #020021;
        z-index: 10;
        position: fixed;
        padding: 4em;
        align-items: center;
        
  transform: translateX(100%);
  transition: transform 0.2s;
  top: 0;
  left: 5em;
  right: 0;
  margin-top: 0;
  padding-top: 4rem;

    }

    body{
        padding: 0;
    }}
    
