@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    background-color: #020021;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 1.5em 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0 6em;
}
.navigation{
    display: flex;
    list-style-type: none;
    margin-top: 0;
}
.navigation li {
    margin-right: 2em;
    font-size: 18px;
    font-weight: 400;
}
li.signUp{
    color: #00F482;
    border-right: 2px solid #5E5876;
    padding-right: 1em;
    margin-right: 1em;
}
.navigation li:last-child{
    margin: 0;
}

div.main{
    display: flex;
    justify-content: space-between;
    padding: 5em 1.5em 3em 6em;
    
    margin-left: auto;
    margin-right: auto;
}
.mainText{
    width: 35%;
}
img.drumkit{
    width: 700px;
    filter: drop-shadow(20px 0px 100px #1F173C);
}
div.divRelative{
position: relative;

}
div.firstRow{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 20px;
    bottom: 350px;
    opacity: 0;
}
div.buttonsCenter{
    position: absolute;
    left: 190px;
    bottom: 260px;
    width: 320px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    opacity: 0;
    z-index: 2;
}

div.secondRow{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 70px;
    bottom: 240px;
    opacity: 0;
}
div.thirdRow{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 100px;
    bottom: 85px;
    opacity: 0;
}

.small{
    width: 108px;
    height: 108px;
    border-radius: 54px;
    border: none;
    cursor: pointer;
}
.big{
    width: 152px;
    height: 152px;
    border-radius: 76px;
    border: none;
    cursor: pointer;
}

h1{
    font-size: 64px;
    font-weight: 450;
    line-height: 60px;
    width: 50%;
}
.text{
    color: #5E5876;
    font-size: 16px;
    font-weight: 400;
}
.hitButton{
    background-color: #00F482;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 1em 4em;
    margin-top: 2em;
}
div.buttonHit{
    display: none;
}
section{
    text-align: center;
}
.headingThree{
    font-size: 32px;
}
button.price{
    font-size: 16px;
    font-weight: 600;
    padding: 1em 2em;
    border-radius: 2em;
    margin-top: 1em;
    border: none;
}