.mobileMenu {
    display: none;
}
.navBurger {
    list-style-type: none;
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: var(--main);
    z-index: 99;
    position: fixed;
    padding: 4em;
    align-items: center;  
    transform: translateX(100%);
    transition: transform 0.3s;
    top: 0;
    left: 5em;
    right: 0;
    margin-top: 0;
}
.navBurger li {
    padding: 1.5em;
    border-bottom: 2px solid var(--pText);
    width: 4em;
}
.green {
    color: var(--greenAccent);
}
.navBurger li:last-child {
    border-bottom: none;
}
.burgerMenuOpen, .burgerMenuClose {
    width: 3.5em;
    height: 1.7em;
    border: none;
    background-color: var(--greenAccent);
    color: var(--white);
    font-size: 1.5em;
    line-height: 1em;
    align-items: center;
    z-index: 100;
    top: 1em;
    right: 0.5em;
    padding: 0.25em;
    cursor: pointer;
    align-self: flex-end;
}
.burgerMenuOpen{
    border-radius: 1.25em;
    justify-content: end;
    padding-right: 0.5em;
}
.burgerMenuClose  {
    border-radius: 2em;
    width: 1.7em;
    justify-content: center;
}

@media screen and (max-width: 465px) {
    .opacity{
        position: fixed;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--grey);
        opacity: 0.7;
    }
    header {
        flex-direction: column;
        width: 100%;
        margin-right: 0;
        padding: 0;
    }
    nav.desktopMenu, button.burgerMenuClose {
        display: none;
    }
    .mobileMenu{
        display: block;
    }
    button.burgerMenuOpen{
        position: absolute;
        display: flex;
    }
    button.burgerMenuClose{
        position: fixed;
        right: 0.85em;
    }
    body{
        padding: 5em 0;
    }
    img.drumkit{
        width: 22.5em;
    }
    div.main{
        flex-direction: column-reverse;
        width: 87%;   
    }
    div.buttonHit{
        display: flex;
    }
    p.text {
        font-size: 0.9em;
        font-weight: 400;
    }
    .headingThree{
        font-size: 1.5em;
        font-weight: 400;
    }
    button.price{
        font-size: 0.9em;
        padding: 1em 1em;
    }
    section{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       margin-top: 2em;
    }
    .logo{
        width: 12.5em;
        align-self: center;
    }
    button.small, button.big{
        display: none;
    }
    h1{
        font-size: 3.25em;
    }
    .mainText{
        width: 100%;
        padding-left: 3em;
        margin-top: 2.5em;
    }
    .showMenu{
        transform: translateX(0);
    }
     
}